<footer class="footer">
  <div class="footer__logo">
    <a href="index.html"
      ><img
        src="Logo Transparente.png"
        alt="Logo de Casa Zompantzi"
        class="logo"
    /></a>
  </div>

  <div class="footer-socials">
    <a
      href="https://www.facebook.com/profile.php?id=100063606190096"
      target="_blank"
      class="facebook-icon"
    >
      <i class="fa-brands fa-facebook"></i
    ></a>

    <a href="https://wa.me/5212311337700" target="_blank" class="btn"
      ><i class="fa-brands fa-whatsapp"></i
    ></a>
  </div>

  <p class="footer-copyright">&copy; 2025. Todos Los derechos reservados.</p>
</footer>
